body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    @include text-l;
    cursor: none;
}
div{
    box-sizing:border-box;
    padding: 0;
    margin:0;
}
.clickable {
    pointer-events: all;
}
.template{
    display: none;
}

.cursor-container{
    width: 7vw;
    height: 7vw;
    position: fixed;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;

    .cursor-svg{
        
        #externallink,#close,#arrowleft,#arrowright, #open{
            visibility: hidden;
        }
    }
}

.interface{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    pointer-events: none;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: auto auto 1fr;
    color: $text-color;
    
    & > div{
        // padding: $cell-padding;
    }
    
    // TOP PART OF INTERFACE
    .brand{
        user-select: none;
        grid-column: 1/2;
        border-bottom: $gridline;
        padding: $cell-padding;
        
        
    }
    .about-top-area{
        border-bottom: $gridline;
        border-left: $gridline;

    }
    .about-btn{
        grid-column: 3/4;
        border-bottom: $gridline;
        padding: $cell-padding;
        text-align: right; 
        position: relative;

        .close-btn{
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-150%);
            padding: $cell-padding;
            opacity: 0;
        }
    }
    .about-area{
        @include text-m;
        position:absolute;
        height: 0px;
        border-left: $gridline;
        border-right: $gridline;
        padding-left: $cell-padding;
        padding-right: $cell-padding;
        border-color: transparent;
        margin-right: $grid-strokeweight * -0.5;
        padding-top: 0;
        padding-bottom: 0;

        overflow: hidden;
        grid-row: 2/3;
        grid-column: 2/3;
        transition: height 0.5s ease-in, padding 0.5s ease-in, border-color 0.2s ease-in;
        &.open{
            padding-top: $cell-padding;
            padding-bottom: $cell-padding;
            border-color: white;

            overflow: scroll;
            pointer-events: all;
            border-width: unset;
        }
    }
    .top-right{
        grid-column: 4/5;
        grid-row: 1/1;
        border-bottom: $gridline;
        border-left: $gridline;
        padding: $cell-padding;
        .close-btn{
            opacity: 0;
            transform: translateX(150%);
            display: inline-block;
        }
    }
    
    .artist-btn{
        grid-column: 4/5;
        grid-row: 2/3;
        border-left: $gridline;
        padding: $cell-padding;
        border-bottom: $gridline-hidden;

        position:relative;

        .close-btn{
            position: absolute;
            display: none;
            right: 0;
            top: 0;
            padding-right: $cell-padding;
            padding-top: $cell-padding;

        }
        
        &.active{
            border-bottom: $gridline;
            .close-btn{
                display: inline-block;
            }
        }


    }
    .artist-area{
        grid-column: 4/5;
        grid-row: 3/4;
        
        border-left: $gridline;
        overflow-x: hidden;
        overflow-y: scroll;
        @include text-m;
        transition: transform 0.3s ease-in;
        //transform: translateX(100%);
        width: 0;
        height: 0;
        overflow: hidden;
        
        &.open{
            //transform: translateX(0%);
        }
        
        .artistlist-entry{
            padding-top: 0;
            padding-bottom: 0;
            
            &:first-of-type{
                padding-top: $cell-padding;
            }
            
            
            
            .artist-name{
                padding-left: $cell-padding;
                padding-right: $cell-padding;
                
                
                width: 100%;
                height: auto;
            }
            
            .artist-artworks-list{
                overflow-y: hidden;
                max-height: 0;
                transition: max-height 0.3s ease-in;
                
                padding-left: $cell-padding;
                
                .artwork{
                    padding-right: $cell-padding;

                    &:first-of-type{
                        //padding-top: $cell-padding;
                    }
                    &:last-of-type{
                        //padding-bottom: $cell-padding;
                    }
                }
                
                &.open{
                    max-height: 400px;
                    border-top: $gridline;
                    border-bottom: $gridline;
                    
                    .artwork:not(:last-of-type){
                        border-bottom:  $gridline;
                    }


                }
            }
            
            
        }
        
    }
    
    .minimap{
        
        border-left: $gridline;
        border-top: $gridline;
        background-size: cover;
        background-image: url('../content/img/map-mini.png');
        position: absolute;
        right: 0;
        bottom: 0;
        
        .position-indicator{
            position: absolute;
            width: 20%;
            height: 20%;
            border: $gridline;
            pointer-events: none;
        }
    }
    
}


.borderanim::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.borderanim:hover::after {
    width: 100%;
    //transition: width .3s;
}



.map-container{
    user-select: none;
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: grey;
    
    
    
    .map-draggable{
        min-width: 100%;
        min-height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;  
        width: 3000px;
        height: auto;
        perspective: 180vw;

        
        .map-background{
            position: relative;
            width: 100%;
            height: auto;
        }
        
        
        .artwork-thumbnails {
            position: absolute;
            top: 0;
            left: 0;            
            right: 0;
            bottom: 0;
            
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
            
            .artwork-thumbnail{


                position: absolute;
                // top: 30%;
                // left: 40%;
                // width: 20%;
                height: auto;
                
                .thumbnail-image{
                    width: 100%;
                    height: auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .blend-image{
                    mix-blend-mode: lighten;
                    -webkit-transform-style: preserve-3d;
                    transform-style:preserve-3d;
                    @keyframes wiggle {
                        0% { transform: rotate(0deg); }
                        25% { transform: rotate(3deg); }
                        75% { transform: rotate(-3deg); }
                      100% { transform: rotate(0deg); }
                    }
                    //animation: wiggle 20s infinite;
                }
                .regular-image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
                
                
            }
            
            
        }
        
        .map-background{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}


.single-artwork-overlay{
    background-color: rgba($color: black, $alpha: 0.0);
    color: $text-color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    opacity: 1;
    @include text-m;
    
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    transition: background-color 0.3s ease-in;
    display: none;

    &.open{
        display: grid;
        background-color: rgba($color: black, $alpha: 0.5);
        .galleryindicator, .date, .material, .series, .dimensions {
            opacity: 1;
            transition: opacity 0.3s linear;
        }
        .title{
            border-right-color: unset;
        }
    }
        
    &.tease{
        display: grid;
        pointer-events: none;
        .gallery-container{
            visibility: hidden;
        }
        .galleryindicator, .date, .material, .series, .dimensions {
            opacity: 0;
        }
        .title{
            border-right-color: transparent !important;
        }
        
    }
    
    
    .topline-spacer{
        height: 40px;
        opacity: 0.5;
        grid-column: 1 / 4;
    }
    
    .sidebar{
        position:relative;
        .galleryindicator{
            position:absolute;
            bottom: 0;
            right: 0;
            padding-right: $cell-padding;
            padding-bottom: $cell-padding;
            
        }
    }
    .gallery-container{
        overflow-x: hidden;
        width: 100%;
        opacity: 0; // wil be revealed by js
        border-left: $gridline;

        .slick-list,
        .slick-track {
            height: 100%;
        }
        .slick-prev{
            position:absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 25%;
            z-index: 2;
            opacity: 0;
        }
        .slick-next{
            position:absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 75%;
            z-index: 2;
            opacity: 0;
        }
        
        .gallery-item{
            height: 100%;
            width: 100vw;
            
            img{
                height: 100%;
                width: auto;
            }
            
            img.landscape{
                width: 100%;
                height: auto;
            }
            
        }
        
    }
    
    .bottom-left{
        text-align: right;
        .artist-name{
            display: inline-block;
            padding: $cell-padding/2;
            border-top: $gridline;
        }
        
    }
    
    
    
    .artwork-info{
        display: grid;
        grid-template-columns: 3fr 3fr 2fr;
        border-top: $gridline;
        border-left: $gridline;

        
        div{
            padding: $cell-padding/2;
        }
        
        .title, .series{
            border-right: $gridline;
        }
        .material{
            grid-column: 1/3;
            border-right: $gridline;
        }
        .dimensions, .material{
            border-top: $gridline;
        }
    }

    
    
    
}