article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@font-face {
  font-family: 'Diatype';
  src: url("../fonts/EduDiatype-Regular.woff") format("woff");
  src: url("../fonts/EduDiatype-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Diatype';
  src: url("../fonts/EduDiatype-RegularItalic.woff") format("woff");
  src: url("../fonts/EduDiatype-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }

html {
  font-family: 'Diatype', 'Helvetica', 'sans-serif';
  font-size: 0.4vw; }

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 5rem; }

div {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.clickable {
  pointer-events: all;
  cursor: pointer; }

.template {
  display: none; }

.interface {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  pointer-events: none;
  grid-template-columns: auto 1fr auto auto auto;
  grid-template-rows: auto auto 1fr;
  color: white; }
  .interface .brand {
    grid-column: 1/2;
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
    padding: 2.5rem; }
  .interface .about-top-area {
    border-bottom: 1.5px solid white; }
  .interface .about-btn {
    grid-column: 3/4;
    border-bottom: 1.5px solid white;
    padding: 2.5rem;
    text-align: right; }
  .interface .top-right {
    grid-column: 4/5;
    grid-row: 1/1;
    border-bottom: 1.5px solid white;
    border-left: 1.5px solid white; }
  .interface .artist-btn {
    grid-column: 4/5;
    grid-row: 2/3;
    border-left: 1.5px solid white;
    padding: 2.5rem; }
    .interface .artist-btn.active {
      border-bottom: 1.5px solid white; }
  .interface .artist-area {
    grid-column: 4/5;
    grid-row: 3/4;
    border-left: 1.5px solid white;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 3.5rem;
    transition: transform 0.3s ease-in;
    transform: translateX(100%); }
    .interface .artist-area.open {
      border-bottom: 1.5px solid white;
      transform: translateX(0%); }
    .interface .artist-area .artistlist-entry {
      padding-top: 0;
      padding-bottom: 0; }
      .interface .artist-area .artistlist-entry:first-of-type {
        padding-top: 2.5rem; }
      .interface .artist-area .artistlist-entry .artist-name {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        width: 100%;
        height: auto; }
      .interface .artist-area .artistlist-entry .artist-artworks-list {
        overflow-y: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in;
        padding-left: 2.5rem;
        padding-right: 2.5rem; }
        .interface .artist-area .artistlist-entry .artist-artworks-list .artwork:first-of-type {
          padding-top: 2.5rem; }
        .interface .artist-area .artistlist-entry .artist-artworks-list .artwork:last-of-type {
          padding-bottom: 2.5rem; }
        .interface .artist-area .artistlist-entry .artist-artworks-list.open {
          max-height: 400px;
          border-top: 1.5px solid white;
          border-bottom: 1.5px solid white; }
  .interface .minimap {
    grid-column: 3/5;
    grid-row: 4/5;
    border-left: 1.5px solid white;
    border-top: 1.5px solid white;
    height: 20vh;
    width: 20vw;
    background-size: cover;
    background-image: url("../content/img/map-mini.png");
    transition: all 0.3s ease-in;
    position: relative; }
    .interface .minimap .position-indicator {
      position: absolute;
      width: 20%;
      height: 20%;
      border: 1.5px solid white;
      pointer-events: none; }

.borderanim::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s; }

.borderanim:hover::after {
  width: 100%; }

.map-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: grey; }
  .map-container .map-draggable {
    min-width: 100%;
    min-height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 3000px;
    height: auto; }
    .map-container .map-draggable .map-background {
      position: relative;
      width: 100%;
      height: auto; }
    .map-container .map-draggable .artwork-thumbnails {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none; }
      .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail {
        position: absolute;
        height: auto;
        cursor: pointer; }
        .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail .thumbnail-image {
          width: 100%;
          height: auto; }
          .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail .thumbnail-image img {
            width: 100%;
            height: auto; }
        .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail .blend-image {
          mix-blend-mode: lighten; }
        .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail .regular-image {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
    .map-container .map-draggable .map-background img {
      width: 100%;
      height: auto; }

.single-artwork-overlay {
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  font-size: 3.5rem;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  display: none; }
  .single-artwork-overlay.open {
    display: grid; }
  .single-artwork-overlay .topline-spacer {
    height: 40px;
    opacity: 0.5;
    grid-column: 1 / 4; }
  .single-artwork-overlay .artist-name {
    padding: 0.83333rem;
    border-top: 1.5px solid white; }
  .single-artwork-overlay .artwork-info {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr; }
    .single-artwork-overlay .artwork-info div {
      border: 1.5px solid white;
      padding: 0.83333rem; }
    .single-artwork-overlay .artwork-info .material {
      grid-column: 1/3; }
