article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@font-face {
  font-family: 'Diatype';
  src: url("../fonts/EduDiatype-Regular.woff") format("woff");
  src: url("../fonts/EduDiatype-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Diatype';
  src: url("../fonts/EduDiatype-RegularItalic.woff") format("woff");
  src: url("../fonts/EduDiatype-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }

html {
  font-family: 'Diatype', 'Helvetica', 'sans-serif';
  font-size: 0.4vw; }

h2 {
  font-size: 5rem;
  margin-bottom: 1rem; }

.about h2 {
  font-style: italic; }

h3 {
  margin-bottom: 0;
  padding-top: 2rem; }

p {
  margin-top: 0;
  padding-top: 0; }

a {
  color: inherit;
  text-decoration: none;
  cursor: none; }

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 5rem;
  cursor: none;
  background-color: black; }

div {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.clickable {
  pointer-events: all; }

.template {
  display: none; }

.cursor-container {
  width: 7vw;
  height: 7vw;
  position: fixed;
  position: absolute;
  left: -50vw;
  top: -50vw;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none; }
  .cursor-container .cursor-svg #externallink, .cursor-container .cursor-svg #close, .cursor-container .cursor-svg #arrowleft, .cursor-container .cursor-svg #arrowright, .cursor-container .cursor-svg #open {
    visibility: hidden; }

.debug-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50;
  height: 50;
  background: rgba(0, 0, 255, 0.3);
  font-size: 10px;
  z-index: 1000;
  pointer-events: none;
  color: white; }

.interface {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  pointer-events: none;
  grid-template-columns: auto 1fr auto auto auto;
  grid-template-rows: auto auto 1fr;
  color: white; }
  .interface .brand {
    user-select: none;
    grid-column: 1/2;
    border-bottom: 2px solid white;
    padding: 2.5rem; }
  .interface .about.section {
    padding-bottom: 2rem; }
  .interface .imprint.section {
    border-bottom: none; }
  .interface .contact.section .people {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr; }
  .interface .about-top-area {
    border-bottom: 2px solid white;
    border-left: 2px solid white; }
  .interface .about-btn {
    grid-column: 3/4;
    border-bottom: 2px solid white;
    padding: 2.5rem;
    text-align: right;
    position: relative; }
    .interface .about-btn .contact-btn {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-150%);
      padding: 2.5rem;
      opacity: 0; }
  .interface .about-area {
    font-size: 3.5rem;
    position: absolute;
    height: 0px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-top: 0;
    overflow: hidden;
    grid-row: 2/3;
    grid-column: 2/3;
    transition: height 0.5s ease-in, padding 0.5s ease-in, border-color 0.2s ease-in; }
    .interface .about-area.open {
      border-color: white;
      overflow: scroll;
      pointer-events: all; }
    .interface .about-area .section {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-bottom: 3rem; }
    .interface .about-area .section:not(:last-child) {
      border-bottom: 2px solid white; }
    .interface .about-area .logo {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 20%;
      height: auto; }
  .interface .top-right {
    grid-column: 4/5;
    grid-row: 1/1;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    padding: 2.5rem; }
    .interface .top-right .close-btn {
      opacity: 0;
      transform: translateX(150%);
      display: inline-block; }
  .interface .artist-btn {
    grid-column: 4/5;
    grid-row: 2/3;
    border-left: 2px solid white;
    padding: 2.5rem;
    border-bottom: 2px solid transparent;
    position: relative; }
    .interface .artist-btn .close-btn {
      position: absolute;
      display: none;
      right: 0;
      top: 0;
      padding-right: 2.5rem;
      padding-top: 2.5rem; }
    .interface .artist-btn.active {
      border-bottom: 2px solid white; }
      .interface .artist-btn.active .close-btn {
        display: inline-block; }
  .interface .artist-area {
    grid-column: 4/5;
    grid-row: 3/4;
    border-left: 2px solid white;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 3.5rem;
    transition: transform 0.3s ease-in;
    width: 0;
    height: 0;
    overflow: hidden; }
    .interface .artist-area .artistlist-entry {
      padding-top: 0;
      padding-bottom: 0; }
      .interface .artist-area .artistlist-entry:first-of-type {
        padding-top: 2.5rem; }
      .interface .artist-area .artistlist-entry .artist-name {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        width: 100%;
        height: auto; }
      .interface .artist-area .artistlist-entry .artist-artworks-list {
        overflow-y: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in;
        padding-left: 2.5rem; }
        .interface .artist-area .artistlist-entry .artist-artworks-list .artwork {
          padding-right: 2.5rem;
          line-height: 1.2;
          padding-top: 1.25rem;
          padding-bottom: 1.25rem; }
          .interface .artist-area .artistlist-entry .artist-artworks-list .artwork:first-of-type {
            padding-top: 1.875rem; }
          .interface .artist-area .artistlist-entry .artist-artworks-list .artwork:last-of-type {
            padding-bottom: 1.875rem; }
        .interface .artist-area .artistlist-entry .artist-artworks-list.open {
          max-height: 400px;
          border-top: 2px solid white;
          border-bottom: 2px solid white; }
          .interface .artist-area .artistlist-entry .artist-artworks-list.open .artwork:not(:last-of-type) {
            border-bottom: 2px solid white; }
  .interface .minimap {
    outline: 2px solid white;
    background-size: cover;
    background-image: url("../content/img/map-mini.png");
    position: absolute;
    right: 0;
    bottom: 0; }
    .interface .minimap .position-indicator {
      position: absolute;
      width: 20%;
      height: 20%;
      outline: 2px solid white;
      pointer-events: none; }

.borderanim::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s; }

.borderanim:hover::after {
  width: 100%; }

.map-container {
  user-select: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  opacity: 0; }
  .map-container .map-draggable {
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 3000px;
    height: auto;
    display: block;
    perspective: 180vw; }
    .map-container .map-draggable .map-background {
      position: relative;
      display: block;
      width: 100%;
      height: auto; }
    .map-container .map-draggable .artwork-thumbnails {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none; }
      .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail {
        position: absolute;
        height: auto; }
        .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail .thumbnail-image {
          width: 100%;
          height: auto; }
          .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail .thumbnail-image img {
            width: 100%;
            height: auto; }
        .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail .blend-image {
          mix-blend-mode: lighten;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(3deg); }
  75% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0deg); } }
        .map-container .map-draggable .artwork-thumbnails .artwork-thumbnail .regular-image {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
    .map-container .map-draggable .map-background img {
      width: 100%;
      height: auto;
      display: block; }

.single-artwork-overlay {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  font-size: 3.5rem;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  transition: background-color 0.3s ease-in;
  display: none; }
  .single-artwork-overlay.open {
    display: grid;
    background-color: rgba(0, 0, 0, 0.5); }
    .single-artwork-overlay.open .galleryindicator, .single-artwork-overlay.open .date, .single-artwork-overlay.open .material, .single-artwork-overlay.open .series, .single-artwork-overlay.open .dimensions {
      opacity: 1;
      transition: opacity 0.3s linear; }
    .single-artwork-overlay.open .title {
      border-right-color: unset; }
  .single-artwork-overlay.tease {
    display: grid;
    pointer-events: none; }
    .single-artwork-overlay.tease .gallery-container {
      visibility: hidden; }
    .single-artwork-overlay.tease .galleryindicator, .single-artwork-overlay.tease .date, .single-artwork-overlay.tease .material, .single-artwork-overlay.tease .series, .single-artwork-overlay.tease .dimensions {
      opacity: 0; }
    .single-artwork-overlay.tease .title {
      border-right-color: transparent !important; }
  .single-artwork-overlay .topline-spacer {
    height: 40px;
    opacity: 0.5;
    grid-column: 1 / 4; }
  .single-artwork-overlay .sidebar {
    position: relative; }
    .single-artwork-overlay .sidebar .galleryindicator {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 2.5rem;
      padding-bottom: 2.5rem; }
  .single-artwork-overlay .gallery-container {
    overflow-x: hidden;
    width: 100%;
    opacity: 0;
    border-left: 2px solid white; }
    .single-artwork-overlay .gallery-container .slick-list,
    .single-artwork-overlay .gallery-container .slick-track {
      height: 100%; }
    .single-artwork-overlay .gallery-container .slick-prev {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 25%;
      z-index: 2;
      opacity: 0; }
    .single-artwork-overlay .gallery-container .slick-next {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 75%;
      z-index: 2;
      opacity: 0; }
    .single-artwork-overlay .gallery-container .gallery-item {
      height: 100%;
      width: 100vw; }
      .single-artwork-overlay .gallery-container .gallery-item img {
        height: 100%;
        width: auto; }
      .single-artwork-overlay .gallery-container .gallery-item img.landscape {
        width: 100%;
        height: auto; }
  .single-artwork-overlay .bottom-left {
    text-align: right; }
    .single-artwork-overlay .bottom-left .artist-name {
      display: inline-block;
      padding: 1.25rem;
      border-top: 2px solid white; }
  .single-artwork-overlay .artwork-info {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 8vw;
    border-top: 2px solid white;
    border-left: 2px solid white; }
    .single-artwork-overlay .artwork-info div {
      padding: 1.25rem; }
    .single-artwork-overlay .artwork-info .title, .single-artwork-overlay .artwork-info .series {
      font-style: italic; }
    .single-artwork-overlay .artwork-info .series {
      border-right: 2px solid white; }
    .single-artwork-overlay .artwork-info .series:not(:empty) {
      border-left: 2px solid white; }
    .single-artwork-overlay .artwork-info .material {
      grid-column: 1/3;
      border-right: 2px solid white; }
    .single-artwork-overlay .artwork-info .dimensions, .single-artwork-overlay .artwork-info .material {
      border-top: 2px solid white; }
